.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 8rem;
}
.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;

  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: #fff;
      font-family: $font-display;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      background-color: rgba($color: #fff, $alpha: 0.05);
      transform: translateY(-0.3rem);
    }
  }
}
.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin: 6rem auto 0 auto;
  text-align: center;
  width: 70%;
}
